Makefile
*.deps
*.libs
*.lo
*.la
*.o
*.log
*.zlog
*.in
*~
.settings/
aclocal.m4
autom4te.cache/
build/*
build-*/*
m4/*
compile
config.guess
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
test-driver
AUTHORS
ChangeLog
NEWS

